<form action="/jobpostings" method="post">
  <label for="description">Add a new job posting descriptions</label>
  <input id="description" name="description" type="text">
  <label for="title">Add a new job posting descriptions</label>
  <input id="title" name="title" type="text">
  <label for="contactInfo">Add a new job posting descriptions</label>
  <input id="contactInfo" name="contactInfo" type="text">
  <button type="submit">Submit</button>
</form>